@import '~bootstrap/dist/css/bootstrap.min.css';
.navbar-toggler {
  min-height: 100vh;
}

.button {
  color: white;
  margin-left: 240px;
}

.button:hover {
  color: #fff;
}

mat-sidenav{
  width: 280px;
}

mat-icon {
  color: white;
}

h4 {
  margin-right: 30px;
}

.link-menu {
  margin-left: 30px;
  margin-top: 20px;
  width: 200px;
}

