<div class="container banner-container">
  <div class="grid">
    <div class="row">
      <div class="col-md-12">
        <img src="https://petshop-sp.ue.r.appspot.com/static/images/banner-1.png">
      </div>
    </div>
  </div>
</div>


<app-categories-featured></app-categories-featured>


<section class="container grid" *ngIf="products">
  <div class="col-12 wrap">
    <div class="col-12">
      <h2>Produtos em destaque</h2>
    </div>

    <div class="col-6 col-sm-6 col-md-4 col-lg-3 min" *ngFor="let product of products">
      <app-product-item [product]="product">

      </app-product-item>
    </div>
  </div>

</section>
